body {
  background-color: #0C162D;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

a,
p {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.tekst {
  color: white;
  margin-top: 2%;
  white-space: nowrap;
  font-size: 200%;
  font-weight: bold;
}

.line,
.line2 {
  width: 40%;
  margin-top: 2%;
  border-top: 2px solid #1F6FEB;
}

.line {
  margin-right: 7%;
}

.line2 {
  margin-left: 7%;
}

.center-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-box {
  border: 2px solid #1F6FEB;
  background-color: #172237;
  border-radius: 8px;
  padding: 1%;
  display: flex;
  height: 45vh;
  width: 40vh;
  overflow: auto;
}

.tasklist {
  display: flex;
  color: white;
  border: 2px solid #0d469c;
  font-size: 130%;
  padding: 5%;
  margin: 2%;
  border-radius: 2vh;
  justify-content: space-between;
  align-items: center;
}

.notasks {
  color: white;
  white-space: nowrap;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-addbtn {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newtask-popup-title {
  font-size: 170%;
  padding-bottom: 5%;
}

.cancel-newtask-btn {
  display: flex;
  gap: 10px;
  float: right;
  margin-top: 5%;
}

.fill-field {
  color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  min-height: 50px;
  background-color: #172237;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.MuiMenu-list {
  background-color: #23324d;
  border: 2px solid #1F6FEB;
  color: white;
}

.MuiButton-outlinedSizeMedium {
  color: white;
  background-color: red;
}

@media only screen and (max-width: 768px) {
  .created-by {
    display: inline;
    border-left: 2px solid grey;
    padding-left: 50px;
    margin-left: 50px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    min-height: 10px;
  }

  .task-box {
    padding: 3%;
  }

  .popup-container {
    width: 40vh;
  }

  .line,
  .line2 {
    margin-top: 5%;
    border-top: 3px solid #1F6FEB;
  }

  .tekst {
    margin-top: 5%;
  }

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1f6feb #172237;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f6feb;
  border-radius: 8px;
  border: 3px solid #464948;
}